<div class="col">
    <div class="card rounded-3 employee-card">
        <div class="card-header py-3">
            <h3>@Player.Username</h3>
            <h4>@Player.FirstName @Player.LastName</h4>
        </div>
        <div class="card-body employee-card text-center">
            <img src="@(Player.ProfilePictureUrl)"
                 class="employee-img rounded-circle img-fluid" />
        </div>
        <a href="@($"/playerdetail/{Player.Username}")" class="btn btn-outline-primary btn-sm mb-1">Full Details</a>
    </div>
</div>